.position{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  margin-top: -50px;
  padding-top: -10px;
  padding-bottom: 130px;
  }

  .backGroundHome{
    background-image: url("../../img/screen-0.jpg");
    background-size: contain;
  }

  .paginadoHome{
    margin-bottom: 50px;
  }

  .optionsHome{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: -100px;
  }

  .filters{
    border-radius: 10px;
    padding: 0.8%;
    border: none;
    background-color: rgba(14, 13, 13, 0.685);
    color: rgb(248, 246, 244);
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
  }

  .filters:hover{
    box-shadow: 2px 2px 10px 10px  rgba(14, 13, 13, 0.685);
    background-color: rgba(126, 253, 22, 0.658);
    color: black;
    font-size: 80%;
  }

  

